body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Lato Light, Helvetica, sans-serif ;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.navigation ul {
    position: relative;
}

.navigation ul li {
    text-align: center;
    list-style: none;
}

.navigation ul li a {
    color: #333;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}

.navigation ul:hover li a {
    color: #0002;
}

.navigation ul li:hover a {
    color: #000;
    background-color: rgba(0, 0, 0, 0.233);
}

.navigation ul li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-style: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}

.navigation ul li a:hover::before {
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    height: 1800px;
    width: 1800px;
}

.navigation ul li:nth-child(6n+1) a::before {
    background: rgb(179, 241, 179);
}

.navigation ul li:nth-child(6n+2) a::before {
    background: rgb(245, 165, 165);
}

.navigation ul li:nth-child(6n+3) a::before {
    background: rgb(255, 255, 166);
}

.navigation ul li:nth-child(6n+4) a::before {
    background: rgb(248, 167, 248);
}

.navigation ul li:nth-child(6n+5) a::before {
    background: rgb(181, 222, 255);
}

.navigation ul .sub-menu {
    display: none;
}

.navigation ul .sub-menu:hover + .s-part {
    display: block;
}

.dua {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}